@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-font: "Manrope", sans-serif;
  --title-font: "Dancing Script", serif;
  --script-font: "Great Vibes", cursive;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
